@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");
:root {
  --color-black: #3B4262;
  --color-dark: #565468;
  --color-text: #2A45C2;
  --color-outline: rgba(255, 255, 255, 0.29);
  --color-white: rgba(255, 255, 255, 1);
  --ff: "Barlow Semi Condensed", sans-serif;
  --lizard: radial-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
  --paper: radial-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  --rock: radial-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  --scissors: radial-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  --spoke: radial-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));
  --pentagon: 345px;
  --circle: 148px;
  --largeCircle: 292px;
  --empty: 224px;
  --highlight: 730px;
}

/* Reset */
* {
  box-sizing: border-box;
}

body {
  background: radial-gradient(134.34% 134.34% at 50% 0%, #1F3757 0%, #131537 100%);
  color: var(--color-white);
  font-family: var(--ff);
  margin: 0;
  min-height: 100vh;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
  outline: none;
}

/* app */
.app {
  margin: 0 auto;
  padding: 48px 32px;
  min-height: 100vh;
  overflow: hidden;
}

/* header */
.header {
  align-items: center;
  border: 3px solid var(--color-outline);
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 123px;
  max-width: 700px;
  padding: 18px 24px 18px 32px;
  width: 100%;
}
.header-logo img {
  display: block;
}

/* score */
.score {
  align-items: center;
  background: linear-gradient(0deg, #F3F3F3 0%, #FFF 100%);
  border-radius: 8px;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 16px 8px;
  width: 150px;
}
.score-title {
  color: var(--color-text);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}
.score-number {
  color: var(--color-dark);
  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
}

/* btn */
.btn {
  background: 0;
  border: 1px solid var(--color-white);
  border-radius: 8px;
  color: var(--color-white);
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2.5px;
  padding: 10px 36px;
  text-align: center;
  text-transform: uppercase;
}
.btn-large {
  padding-top: 15px;
  padding-bottom: 15px;
}
.btn-white {
  background: var(--color-white);
  color: var(--color-black);
}
.btn-rules {
  position: fixed;
  bottom: 32px;
  right: 32px;
}

/* pentagon */
.pentagon {
  background: url(../images/bg-pentagon.svg) center/cover no-repeat;
  height: var(--pentagon);
  width: var(--pentagon);
  margin: 0 auto;
  position: relative;
}
.pentagon.hidden {
  display: none;
}

/* chooseBtn global */
.chooseBtn::after, .chooseBtn span::after, .chooseBtn::before {
  content: "";
  display: block;
  position: absolute;
}

.chooseBtn::after, .chooseBtn span::after {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  left: 0;
}

/* chooseBtn */
.chooseBtn {
  background: 0;
  border: 0;
  border-radius: 50%;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.29);
  display: block;
  height: calc(var(--circle));
  padding: 12px 17px 22px;
  position: relative;
  width: var(--circle);
}
.chooseBtn::after {
  bottom: 6px;
}
.chooseBtn.abs {
  position: absolute;
}
.chooseBtn span {
  background-color: #BABFD4;
  border-radius: 50%;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  pointer-events: none;
  z-index: 10;
}
.chooseBtn span::after {
  background: var(--color-white);
  background-position: center;
  background-repeat: no-repeat;
  top: 5px;
}
.chooseBtn-lizard {
  background: #5F37A7;
}
.chooseBtn-lizard.abs {
  bottom: -41px;
  left: 0;
}
.chooseBtn-lizard::after {
  background: var(--lizard);
}
.chooseBtn-lizard span::after {
  background-image: url(../images/icon-lizard.svg);
}
.chooseBtn-paper {
  background: #2A45C2;
}
.chooseBtn-paper.abs {
  right: -64px;
  top: 54px;
}
.chooseBtn-paper::after {
  background: var(--paper);
}
.chooseBtn-paper span::after {
  background-image: url(../images/icon-paper.svg);
}
.chooseBtn-rock {
  background: #9D1634;
}
.chooseBtn-rock.abs {
  bottom: -43px;
  right: 0;
}
.chooseBtn-rock::after {
  background: var(--rock);
}
.chooseBtn-rock span::after {
  background-image: url(../images/icon-rock.svg);
}
.chooseBtn-scissors {
  background: #C76C1A;
}
.chooseBtn-scissors.abs {
  left: 50%;
  transform: translateX(-50%);
  top: -70px;
}
.chooseBtn-scissors::after {
  background: var(--scissors);
}
.chooseBtn-scissors span::after {
  background-image: url(../images/icon-scissors.svg);
}
.chooseBtn-spock {
  background: #2D8DAB;
}
.chooseBtn-spock.abs {
  left: -64px;
  top: 54px;
}
.chooseBtn-spock::after {
  background: var(--spoke);
}
.chooseBtn-spock span::after {
  background-image: url(../images/icon-spock.svg);
}
.chooseBtn::before {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin-top: -3px;
  width: calc(var(--circle) + 44px);
  height: calc(var(--circle) + 40px);
  transform: scale(0) translate(-50%, -50%);
  transform-origin: 0% 0%;
}
.chooseBtn.abs:hover::before, .chooseBtn.abs:active::before {
  animation: btnHover 1.5s ease-in-out infinite;
}
.chooseBtn.large {
  --circle: var(--largeCircle);
  padding: 25px 31px 36px;
}
.chooseBtn.large span::after {
  background-size: 100px;
}
.chooseBtn.hidden {
  display: none;
}

@keyframes btnHover {
  0% {
    transform: scale(0.9) translate(-50%, -50%);
  }
  50% {
    transform: scale(1) translate(-50%, -50%);
  }
  100% {
    transform: scale(0.9) translate(-50%, -50%);
  }
}
/* highlight_box */
.highlight_box, .highlight_box::after, .highlight_box::before {
  background: rgba(255, 255, 255, 0.023);
  border-radius: 50%;
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
  transform-origin: 50% 50%;
}
.highlight_box {
  height: var(--highlight);
  width: var(--highlight);
}
.highlight_box::after {
  height: calc(var(--highlight) * 78 / 100);
  width: calc(var(--highlight) * 78 / 100);
}
.highlight_box::before {
  height: calc(var(--highlight) * 60 / 100);
  width: calc(var(--highlight) * 60 / 100);
}
.highlight_box.show, .highlight_box.show::after, .highlight_box.show::before {
  animation: highlightbox 1500ms ease-in-out 1 forwards;
}
.highlight_box.show::after {
  animation-delay: 200ms;
}
.highlight_box.show::before {
  animation-delay: 400ms;
}

@keyframes highlightbox {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.5);
  }
  50% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
/* Modal */
.modal, .modal-overlay {
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
}

.modal, .modal-content {
  transition: all 200ms ease-in-out;
}

.modal {
  position: fixed;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
}
.modal.opened {
  opacity: 1;
  visibility: visible;
}
.modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
}
.modal-content {
  background: var(--color-white);
  border-radius: 8px;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  padding: 32px;
  left: 50%;
  top: 50%;
  opacity: 0;
  transform: translate(-50%, -100%);
  position: absolute;
  width: 100%;
  z-index: 100;
}
.modal-content img {
  display: block;
  margin: 0 auto;
}
.modal.opened .modal-content {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.modal-title {
  color: var(--color-black);
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  margin: 0 0 20px;
}
.modal-close {
  background: url(../images/icon-close.svg) center no-repeat;
  display: block;
  position: absolute;
  height: 30px;
  right: 28px;
  top: 32px;
  width: 30px;
}

/* resultInner */
#result.hidden {
  display: none;
}

.resultInner {
  align-items: center;
  display: flex;
  justify-content: center;
}
.resultInner-title {
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  font-size: 56px;
  font-weight: 700;
  margin: 0 0 16px;
  text-transform: uppercase;
}
.resultInner-item {
  margin: 0 32px;
  text-align: center;
  width: 293px;
  position: relative;
}
.resultInner-item.hidden {
  display: none;
}
.resultInner-item#totalResult {
  padding-top: 95px;
  position: relative;
  z-index: 100;
}
.resultInner-item h2 {
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 3px;
  margin: 0 0 63px;
  text-transform: uppercase;
}
.resultInner-item.item1 {
  order: 1;
}
.resultInner-item.item2 {
  order: 2;
}
.resultInner-item.item3 {
  order: 3;
}
.resultInner .chooseBtn {
  margin: 0 auto;
}

/* empty */
.empty {
  margin: 0 auto;
  height: var(--largeCircle);
  position: relative;
  width: var(--largeCircle);
}
.empty.hidden {
  display: none;
}
.empty::before {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  content: "";
  display: block;
  position: absolute;
  height: var(--empty);
  width: var(--empty);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* attribution */
.attribution {
  background: var(--color-white);
  border-radius: 6px;
  color: var(--color-dark);
  font-size: 12px;
  line-height: 16px;
  padding: 6px;
  position: fixed;
  left: 50%;
  bottom: 10px;
  min-width: 260px;
  text-align: center;
  transform: translateX(-50%);
}
.attribution a {
  color: var(--color-text);
}

@media screen and (max-width: 500px) {
  :root {
    --pentagon: 227px;
    --circle: 96px;
    --largeCircle: 130px;
    --empty: 110px;
    --highlight: 288px;
  }
  .app {
    padding: 32px 16px;
  }
  .header {
    margin: 0 16px 40px;
    padding: 12px 12px 12px 24px;
    width: auto;
  }
  .header-logo {
    width: 54px;
  }
  .pentagon {
    margin-top: 120px;
  }
  /* score */
  .score {
    width: 80px;
    padding: 10px;
  }
  .score-title {
    font-size: 10px;
    letter-spacing: 1.563px;
  }
  .score-number {
    font-size: 40px;
    line-height: 40px;
  }
  /* chooseBtn */
  .chooseBtn {
    padding: 4px 11px 16px;
  }
  .chooseBtn span::after {
    background-size: 34px;
  }
  .chooseBtn-lizard.abs {
    bottom: -28px;
    left: 0;
  }
  .chooseBtn-paper.abs {
    right: -42px;
    top: 34px;
  }
  .chooseBtn-rock.abs {
    bottom: -28px;
    right: 0;
  }
  .chooseBtn-scissors.abs {
    top: -50px;
  }
  .chooseBtn-spock.abs {
    left: -42px;
    top: 34px;
  }
  .chooseBtn.large {
    padding: 7px 14px 20px;
  }
  .chooseBtn.large span::after {
    background-size: 52px;
  }
  /* btn */
  .btn-rules {
    bottom: 56px;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
  }
  /* resultInner */
  .resultInner {
    flex-wrap: wrap;
  }
  .resultInner-item {
    margin: 0;
    width: 50%;
  }
  .resultInner-item#totalResult {
    padding-top: 25px;
  }
  .resultInner-item h2 {
    font-size: 15px;
    line-height: 32px;
    letter-spacing: 1.85px;
    margin: 0 0 23px;
  }
  .resultInner-item.item1 {
    order: 1;
  }
  .resultInner-item.item2 {
    order: 3;
    width: 100%;
  }
  .resultInner-item.item3 {
    order: 2;
  }
  /* modal */
  .modal-content {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transform: none;
    padding: 74px 32px 32px;
  }
  .modal-title {
    margin: 0 0 74px;
    text-align: center;
  }
  .modal.opened .modal-content {
    transform: none;
  }
  .modal-close {
    top: auto;
    bottom: 65px;
    right: auto;
    left: 50%;
    margin-left: -15px;
  }
}

/*# sourceMappingURL=styles.css.map */
