@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

:root {
  --color-dark: #565468;
  --color-text: #2A45C2;
  --color-outline: rgba(255, 255, 255, 0.29);
  --color-white: rgba(255, 255, 255, 1);
  --ff: 'Barlow Semi Condensed', sans-serif;
  --lizard: radial-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
  --paper: radial-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  --rock: radial-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  --scissors: radial-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  --spoke: radial-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));
  --pentagon: 345px;
  --circle: 148px;
  --largeCircle: 292px;
}

/* Reset */
* { box-sizing: border-box; }

body {
  background: radial-gradient(134.34% 134.34% at 50% 0%, #1F3757 0%, #131537 100%);
  color: var(--color-white);
  font-family: var(--ff);
  margin: 0;
  min-height: 100vh;
}
img { max-width: 100%; }
button { cursor: pointer; outline: none; }

/* app */
.app {
  margin: 0 auto;
  padding: 48px 32px;
}

/* header */
.header {
  align-items: center;
  border: 3px solid var(--color-outline);
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 123px;
  max-width: 700px;
  padding: 18px 24px 18px 32px;
  width: 100%;
  &-logo {
    img { display: block; }
  }
}

/* score */
.score {
  align-items: center;
  background: linear-gradient(0deg, #F3F3F3 0%, #FFF 100%);
  border-radius: 8px;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.20);
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 16px 8px;
  width: 150px;
  &-title {
    color: var(--color-text);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2.5px;
    text-transform: uppercase;
  }
  &-number {
    color: var(--color-dark);
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
  }
}

/* btn */
.btn {
  background: 0;
  border: 1px solid var(--color-white);
  border-radius: 8px;
  color: var(--color-white);
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2.5px;
  padding: 10px 36px;
  text-align: center;
  text-transform: uppercase;
  &-rules {
    position: fixed;
    bottom: 32px;
    right: 32px;
  }
}

/* pentagon */
.pentagon {
  background: url(../images/bg-pentagon.svg) center / cover no-repeat;
  height: var(--pentagon);
  width: var(--pentagon);
  margin: 0 auto;
  position: relative;
  &.hidden { display: none; }
}

/* chooseBtn */
.chooseBtn::after, .chooseBtn span::after, .chooseBtn::before {
  content: ''; display: block; position: absolute;
}
.chooseBtn::after, .chooseBtn span::after {
  border-radius: 50%; width: 100%; height: 100%; left: 0;
}

.chooseBtn {
  background: 0;
  border: 0;
  border-radius: 50%;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.29);
  display: block;
  height: calc(var(--circle));
  padding: 12px 17px 22px;
  position: relative;
  width: var(--circle);
  &::after { bottom: 6px; }
  &.abs { position: absolute; }
  span {
    background-color: #BABFD4;
    border-radius: 50%;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    pointer-events: none;
    z-index: 10;
    &::after {
      background: var(--color-white);
      background-position: center;
      background-repeat: no-repeat;
      top: 5px;
    }
  }
  &-lizard {
    background: #5F37A7;
    &.abs { bottom: -41px; left: 0; }
    &::after { background: var(--lizard); }
    span::after { background-image: url(../images/icon-lizard.svg); }
  }
  &-paper {
    background: #2A45C2;
    &.abs { right: -64px; top: 54px; }
    &::after { background: var(--paper); }
    span::after { background-image: url(../images/icon-paper.svg); }
  }
  &-rock {
    background: #9D1634;
    &.abs { bottom: -43px; right: 0; }
    &::after { background: var(--rock); }
    span::after { background-image: url(../images/icon-rock.svg); }
  }
  &-scissors {
    background: #C76C1A;
    &.abs { left: 50%; transform: translateX(-50%); top: -70px; }
    &::after { background: var(--scissors); }
    span::after { background-image: url(../images/icon-scissors.svg); }
  }
  &-spock {
    background: #2D8DAB;
    &.abs { left: -64px; top: 54px; }
    &::after { background: var(--spoke); }
    span::after { background-image: url(../images/icon-spock.svg); }
  }

  // Hover
  &::before {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin-top: -3px;
    width: calc(var(--circle) + 44px);
    height: calc(var(--circle) + 40px);
    transform: scale(0) translate(-50%,-50%);
    transform-origin: 0% 0%;
  }
  &:hover::before, &:active::before { animation: btnHover 1.5s ease-in-out infinite; }

  &.large {
    --circle: var(--largeCircle);
    padding: 25px 31px 36px;
    span::after { background-size: 100px; }
  }
  
  &.hidden { display: none; }
}

@keyframes btnHover {
  0% { transform: scale(0.9) translate(-50%,-50%); }
  50% { transform: scale(1) translate(-50%,-50%); }
  100% { transform: scale(0.9) translate(-50%,-50%); }
}


/* resultInner */
#result {
  &.hidden { display: none; }
}
.resultInner {
  align-items: center;
  display: flex;
  justify-content: center;
  &-title {
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.20);
    font-size: 56px;
    font-weight: 700;
    margin: 0 0 16px;
    text-transform: uppercase;
  }
  &-item {
    margin: 0 32px;
    text-align: center;
    width: 293px;
    position: relative;
    &.hidden { display: none; }
    &#totalResult { padding-top: 95px; }
    h2 {
      text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.20);
      font-size: 24px;
      font-weight: 700;
      line-height: 32px;
      letter-spacing: 3px;
      margin: 0 0 63px;
      text-transform: uppercase;
    }
    &.item1 {order: 1;}
    &.item2 {order: 2;}
    &.item3 {order: 3;}
  }
  .chooseBtn { margin: 0 auto; }

}


/* empty */
.empty {
  height: var(--largeCircle);
  position: relative;
  width: var(--largeCircle);
  &.hidden { display: none; }
  &::before {
    background: rgba(0, 0, 0, 0.10);
    border-radius: 50%;
    content: '';
    display: block;
    position: absolute;
    height: 224px;
    width: 224px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
}


/* attribution */
.attribution {
  background: var(--color-white);
  border-radius: 6px;
  color: var(--color-dark);
  font-size: 12px;
  line-height: 16px;
  padding: 6px;
  position: fixed;
  left: 50%;
  bottom: 10px;
  min-width: 260px;
  text-align: center;
  transform: translateX(-50%);
  a { color: var(--color-text); }
}


@media screen and (max-width: 500px) {
  :root {
    --pentagon: 227px;
    --circle: 96px;
    --largeCircle: 130px;
  }

  .app { padding: 32px; }

  .header {
    padding: 12px 12px 12px 24px;
    &-logo { width: 54px; }
  }

  /* score */
  .score {
    width: 80px; padding: 10px;
    &-title { font-size: 10px; letter-spacing: 1.563px; }
    &-number { font-size: 40px; line-height: 40px; }
  }

  /* chooseBtn */
  .chooseBtn {
    padding: 4px 11px 16px;
    span::after { background-size: 34px; }
    &-lizard.abs { bottom: -28px; left: 0; }
    &-paper.abs { right: -42px; top: 34px; }
    &-rock.abs { bottom: -28px; right: 0; }
    &-scissors.abs { top: -50px; }
    &-spock.abs { left: -42px; top: 34px; }
    &.large {
      padding: 7px 14px 20px;
      span::after { background-size: 52px; }
    }
  }

  /* btn */
  .btn-rules { bottom: 56px; right: auto; left: 50%; transform: translateX(-50%); }


  /* resultInner */
  .resultInner {
    flex-wrap: wrap;
    &-title { font-size: 15px; }
    &-item {
      width: 50%;
      margin: 0;
      &#totalResult { padding-top: 55px; }
      h2 {
        font-size: 15px;
        line-height: 32px;
        letter-spacing: 1.85px;
        margin: 0 0 23px;
      }
      &.item1 {order: 1;}
      &.item2 {order: 3; width: 100%;}
      &.item3 {order: 2;}
    }

  }

}